<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>Easy-to-use UI</h3>
                    <p class="text-muted">Manage your backups trough its web interface</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Instant recovery</h3>
                    <p class="text-muted">Just choose the date, the time... and restore!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Secure</h3>
                    <p class="text-muted">Files are transfered using SSH and Rsync</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Scriptable</h3>
                    <p class="text-muted">What do you want to do before or after the backup job?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Multilanguage</h3>
                    <p class="text-muted">Currently english, spanish, german and basque supported</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-envelope-o wow bounceIn text-primary"></i>
                    <h3>Notifications</h3>
                    <p class="text-muted">Be informed when something goes wrong</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Logs</h3>
                    <p class="text-muted">We consider logs specially critical on a backup software</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Multiuser</h3>
                    <p class="text-muted">Users with limited permissions (work in progress)</p>
                </div>
            </div>
        </div>
    </div>
</section>
